.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    justify-content: end;
    margin: 0 25px 25px 0;
}

.contact-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

#email {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 10px 0;
    padding: 0;
}

.place {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

@media (max-width: 1084px) {
    .footer {
        align-items: flex-start;
        justify-content: start;
        margin: 25px 0 25px 25px;
    }
}

@media (max-width: 885px) {
    .contact-text {
        font-size: 18px;
    }

    #email {
        font-size: 16px;
    }

    .place {
        font-size: 16px;
    }
}

@media (max-width: 555px) {
    .contact-text {
        font-size: 16px;
    }

    #email {
        font-size: 14px;
    }

    .place {
        font-size: 14px;
    }
}

@media (max-width: 380px) {
    .contact-text {
        font-size: 14px;
    }

    #email {
        font-size: 12px;
    }

    .place {
        font-size: 12px;
    }
}