.footer {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 50px 0;
    background-color: #262628;
}

.mail-logo {
    width: 110px;
    object-fit: cover;
}

.contact-info {
    color: #fff;
    padding: 0 0 0 20px;
}

.contact-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#email {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 10px 0 0;
    padding: 0;
}

.place {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    margin: 30px 0 0;
    padding: 0;
}

@media (max-width: 1110px) {
    .footer {
        padding: 40px 150px;
    }
}

@media (max-width: 885px) {
    .footer {
        padding: 40px 80px;
    }

    .contact-text {
        font-size: 18px;
    }

    #email {
        font-size: 16px;
    }

    .place {
        font-size: 16px;
    }
}

@media (max-width: 555px) {
    .footer {
        padding: 40px 20px;
    }

    .contact-text {
        font-size: 16px;
    }

    #email {
        font-size: 14px;
    }

    .place {
        font-size: 14px;
    }
}

@media (max-width: 380px) {
    .mail-logo {
        width: 80px;
    }

    .contact-text {
        font-size: 14px;
    }

    #email {
        font-size: 12px;
    }

    .place {
        font-size: 12px;
    }
}