.main-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 40px;
}

.navigation {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 40px 0 0;
}

.navigation-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
    padding: 0;
}

.navigation-item {
    margin: 0 50px 0 0;
}

.navigation-item:last-child {
    margin: 0;
}

.link-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.icon {
    width: 36px;
    height: 36px;
}

.link {
    text-decoration: none;
    color: #000000;
    transition-timing-function: ease;
}

.link:hover {
    opacity: .6;
}

.navigation-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #00A372;
    align-self: center;
    margin: 0 0 0 10px;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0 0 0;
}

.profile-picture {
    height: 149px;
    width: 149px;
    object-fit: cover;
    border-radius: 50%;
}

h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 1;
    margin: 20px 0;
    padding: 0;
}

.header-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #00A372;
    margin: 0 40px 0 0;
    padding: 0;
}

.about {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0 0;
}

.about-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 20px;
}

.about-text:last-child {
    margin-bottom: 0;
}

@media (max-width: 1110px) {
    .main-section {
        margin: 0 120px 50px;
    }
}

@media (max-width: 885px) {
    .navigation-item {
        margin: 0 60px 0 0;
    }

    .about-text {
        font-size: 16px;
    }

    .navigation-link {
        font-size: 14px;
    }
}

@media (max-width: 555px) {
    .header {
        height: 450px;
    }

    h1 {
        font-size: 32px;
    }

    .header-text {
        font-size: 15px;
    }

    .navigation-item {
        margin-right: 30px;
    }

    .icon {
        width: 26px;
        height: 26px;
    }

    .navigation-link {
        font-size: 12px;
    }

    .about {
        margin: 40px 30px 0;
    }

    .about-text {
        font-size: 14px;
    }
}

@media (max-width: 380px) {
    .header {
        height: 300px;
    }

    h1 {
        font-size: 24px;
        margin: 6px 0;
    }

    .header-text {
        font-size: 12px;
    }

    .navigation {
        margin-top: 20px;
    }

    .navigation-item {
        margin-right: 20px;
    }

    .icon {
        width: 24px;
        height: 24px;
    }

    .navigation-link {
        font-size: 10px;
        margin-left: 6px;
    }

    .about {
        margin: 25px 20px 0;
    }

    .about-text {
        font-size: 12px;
    }
}