.project-section {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #262628;
}

h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin: 40px 0 0;
    align-self: center;
    color: #00A372;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 30px 40px;
    padding: 0;
    column-gap: 20px;
    row-gap: 35px;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: start;
}

.card-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.image-petmypet {
    object-position: left bottom;
}

h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    padding: 0;
    margin: 10px 0 0;
    color: #FFFFFF;
}

.project-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin: 8px 0 0;
    color: #FFFFFF;
    min-height: 28px;
}

.card-links {
    color: #696969;
    margin: 8px 0 0;
}

.card-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin: 8px 0 0;
    text-decoration: underline;
    color: #00A372;
}

@media (max-width: 1110px) {
    .project-cards {
        margin: 30px 0 0;
    }
}

@media (max-width: 885px) {
    h2 {
        font-size: 24px;
    }
}

@media (max-width: 555px) {
    h2 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

@media (max-width: 380px) {
    h2 {
        font-size: 18px;
        margin-top: 18px;
    }

    .project-cards {
        margin-top: 20px;
    }

    .card-link {
        font-size: 14px;
    }
}