.resume-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.experience-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 50px;
}

.back-link {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 40px 0;
    cursor: pointer;
    text-decoration: none;
}

.back-icon {
    width: 30px;
    object-fit: contain;
}

.back-text {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    color: #262628;
    margin-left: 20px;
}

.resume-header {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.resume-contact {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 80px;
}

.contact-detail {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 10px 0;
    padding: 0;
}

.contact-detail:last-child {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.summary {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

.experience {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px 0;
    justify-content: start;
}

.section-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    align-self: start;
    color: #00A372;
}

.experience-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px 0 0;
}

.job-data {
    display: flex;
    flex-direction: column;
    position: relative;
}

.job-name {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
}

.job-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
}

.job-place {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
    font-style: italic;
}

.job-time {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

.job-description {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px 0 0;
    padding: 0 0 0 20px;
}

.job-task {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
}

.education-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #262628;
    padding: 0 40px;
}

.education {
    display: flex;
    flex-direction: column;
    position: relative;
}

.education-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
}

.education-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 10px 0;
}

.education-place {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #00A372;
    margin: 0 0 10px 0;
}

.education-time {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0;
}

.skills {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0 0;
}

.skills-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px 0 0;
}

.skills-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
}

.skills-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 20px 0 0;
}

.languages {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0 0;
}

.language-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px 0 0;
}

.language-section:first-of-type {
    margin: 30px 0 0;
}

.language {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
}

.language-level {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #00A372;
    margin: 0 0 10px 0;
}

.training {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0 0;
}

.training-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px 0 0;
}

.training-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 10px 0;
}

.training-place {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #00A372;
    margin: 0 0 10px 0;
}

.training-place span {
    color: #FFFFFF;
}

.training-time {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0;
}