.resume-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.resume-header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 50px 40px;
}

.experience-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 50px;
}

.back-link {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 40px 0;
    cursor: pointer;
    text-decoration: none;
}

.back-icon {
    width: 30px;
    object-fit: contain;
}

.back-text {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    color: #262628;
    margin: 0 0 0 20px;
}

.resume-contacts {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.main .about {
    margin: 0;
}

.about h1 {
    margin: 0 0 20px 0;
}

.resume-contact {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 80px;
}

.contact-detail {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 10px 0;
    padding: 0;
}

.contact-detail:last-child {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.summary {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

.experience {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px 0;
    justify-content: start;
}

.section-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    align-self: start;
    color: #00A372;
}

.experience-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px 0 0;
}

.job-data {
    display: flex;
    flex-direction: column;
    position: relative;
}

.job-name {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
}

.job-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
}

.job-place {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
    font-style: italic;
}

.job-time {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

.job-description {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px 0 0;
    padding: 0 0 0 20px;
}

.job-task {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 10px;
}

.education-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #262628;
    padding: 0 40px 80px;
}

.education {
    display: flex;
    flex-direction: column;
    position: relative;
}

.education-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30px;
}

.education-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 10px 0;
}

.education-place {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #00A372;
    margin: 0 0 10px 0;
}

.education-time {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0;
}

.skills {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0 0;
}

.skills-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px 0 0;
}

.skills-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
}

.skills-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 20px 0 0;
}

.languages {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0 0;
}

.language-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px 0 0;
}

.language-section:first-of-type {
    margin: 30px 0 0;
}

.language {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
}

.language-level {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #00A372;
    margin: 0 0 10px 0;
}

.training {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0 0;
}

.training-section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px 0 0;
}

.training-title {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 10px 0;
}

.training-place {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #00A372;
    margin: 0 0 10px 0;
}

.training-place span {
    color: #FFFFFF;
}

.training-time {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0;
}

@media (max-width: 1024px) {
    .resume-header {
        margin: 0 30px 40px;
    }

    .back-text {
        font-size: 22px;
        margin-left: 15px;
    }

    .resume-contact {
        padding-right: 50px;
    }

    .contact-detail {
        font-size: 18px;
        line-height: 1.2;
    }

    .experience-container {
        margin: 0 30px;
    }

    .about h1 {
        font-size: 32px;
    }

    .summary {
        font-size: 18px;
    }

    .education-container {
        padding: 0 30px 80px;
    }
}

@media (max-width: 800px) {
    .resume-header {
        margin: 0 20px 30px;
    }

    .back-link {
        margin: 30px 0;
    }

    .back-icon {
        width: 25px;
    }

    .back-text {
        font-size: 20px;
        margin: 0 0 0 12px;
    }

    .profile-picture {
        height: 120px;
        width: 120px;
    }

    .contact-detail {
        font-size: 14px;
        margin: 0 0 8px 0;
    }

    .experience-container {
        margin: 0 20px;
    }

    .about h1 {
        font-size: 28px;
        margin: 0 0 14px 0;
    }

    .summary {
        font-size: 14px;
    }

    .experience {
        margin: 40px 0;
    }

    .experience .section-title {
        font-size: 24px;
    }

    .experience-section {
        margin: 20px 0 0;
    }

    .job-name {
        font-size: 14px;
        margin: 0 0 8px;
    }

    .job-title {
        font-size: 14px;
    }

    .job-time {
        font-size: 14px;
    }

    .job-description {
        margin: 12px 0 0;
        padding: 0 0 0 18px;
    }

    .job-task {
        font-size: 14px;
        margin: 0 0 8px;
    }

    .education-container {
        padding: 0 15px 50px;
    }

    .education .section-title {
        font-size: 24px;
    }

    .education-section {
        margin-top: 20px;
    }

    .education-title {
        font-size: 14px;
        margin: 0 0 8px 0;
    }

    .education-place {
        font-size: 14px;
        margin: 0 0 8px 0;
    }

    .education-time {
        font-size: 14px;
    }

    .skills {
        margin: 25px 0 0;
    }

    .skills .section-title {
        font-size: 24px;
    }

    .skills-section {
        margin: 20px 0 0;
    }

    .skills-title {
        font-size: 16px;
    }

    .skills-text {
        font-size: 14px;
        margin: 15px 0 0;
    }

    .languages {
        margin: 25px 0 0;
    }

    .languages .section-title {
        font-size: 24px;
    }

    .language-section:first-of-type {
        margin: 20px 0 0;
    }

    .language {
        font-size: 14px;
    }

    .language-level {
        font-size: 14px;
        margin: 0 0 8px 0;
    }

    .training {
        margin: 25px 0 0;
    }

    .training .section-title {
        font-size: 24px;
    }

    .training-section {
        margin: 20px 0 0;
    }

    .training-title {
        font-size: 14px;
        margin: 0 0 8px 0;
    }

    .training-place {
        font-size: 14px;
        margin: 0 0 8px 0;
    }

    .training-time {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .resume-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .experience {
        margin: 30px 0;
    }

    .education-container {
        padding: 40px 15px 50px;
    }
}

@media (max-width: 425px) {
    .back-link {
        margin: 20px 0;
    }

    .back-text {
        font-size: 18px;
        margin: 0 0 0 10px;
    }

    .resume-header {
        margin: 0 20px 20px;
    }

    .profile-picture {
        height: 100px;
        width: 100px;
    }

    .resume-contact {
        padding-right: 0;
    }

    .contact-detail {
        font-size: 12px;
    }

    .about h1 {
        font-size: 24px;
    }

    .summary {
        font-size: 12px;
    }

    .experience {
        margin: 20px 0;
    }

    .experience .section-title {
        font-size: 18px;
    }

    .experience-section {
        margin: 16px 0 0;
    }

    .job-title {
        font-size: 12px;
    }

    .job-name {
        font-size: 12px;
    }

    .job-place {
        font-size: 12px;
        margin: 0 0 6px;
    }

    .job-time {
        font-size: 12px;
    }

    .job-task {
        font-size: 12px;
    }

    .education-container {
        padding: 30px 15px 50px;
    }

    .education .section-title {
        font-size: 18px;
    }

    .education-section {
        margin-top: 15px;
    }

    .education-title {
        font-size: 12px;
        margin: 0 0 6px 0;
    }

    .education-place {
        font-size: 12px;
        margin: 0 0 6px 0;
    }

    .education-time {
        font-size: 12px;
    }

    .skills .section-title {
        font-size: 18px;
    }

    .skills-title {
        font-size: 14px;
    }

    .skills-text {
        font-size: 12px;
        margin: 12px 0 0;
    }

    .languages .section-title {
        font-size: 18px;
    }

    .language-section:first-of-type {
        margin: 15px 0 0;
    }

    .language {
        font-size: 12px;
    }

    .language-level {
        font-size: 12px;
    }

    .language-section {
        margin: 12px 0 0;
    }

    .training .section-title {
        font-size: 18px;
    }

    .training-section {
        margin: 15px 0 0;
    }

    .training-title {
        font-size: 12px;
        margin: 0 0 6px 0;
    }

    .training-place {
        font-size: 12px;
        margin: 0 0 6px 0;
    }

    .training-time {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .profile-picture {
        height: 80px;
        width: 80px;
    }
}